<html>
  <head>
    <title>Default Example Site Config</title>
  </head>
  <body>
    <center><h1>Default Example Site Config</h1></center>
    <p>If you are seeing this, it means your server is 100% capable of using the CloudBootstrap code to install and manage the server with Puppet. However, it also means you did not set the $ConfigFile environment variable correctly to point to your Configuration file, and so we downloaded this default.</p>
    <p>Please make sure this environment variable is set before running either the "bootstrap.sh" or "scripts/run" script in the repository.</p>
    <p>My Hostname: <%= @fqdn -%></p>
  </body>
</html>
